/*-- scss:defaults --*/
  body {
  background: linear-gradient(to right, #F7FCFD, #C1E8F0);
}

/* From https://github.com/andrewheiss/ath-quarto/blob/main/html/ath.scss */

$white:    #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #373a3c !default;
$gray-900: #212529 !default;
$black:    #000000 !default;

$blue:    #2780e3 !default;
$indigo:  #6610f2 !default;
$purple:  #170C3A !default;
$pink:    #A52C60 !default;
$red:     #CF4446 !default;
$orange:  #CB7334 !default;
$light-orange:  #FB9E07 !default;
$yellow:  #F6D645 !default;
$green:   #97B33E !default;
$offwhite: #F7FCFD !default;
$lightteal: #EBF8FA !default;
$teal:    #1C5F6B !default;
$cyan:    #2FA2B6 !default;

$primary:   $teal !default;
$secondary: $gray-700 !default;
$success:   $green !default;
$info:      $green !default;
$warning:   $orange !default;
$danger:    $red !default;
$light:     $gray-400 !default;
$dark:      $black !default;


// Links
$link-color: $cyan !default;
$link-decoration: none !default;
$link-hover-color: $orange !default;
$link-hover-decoration: underline !default;

// Footer
$footer-bg: $lightteal !default;
$footer-fg: $offwhite !default;

// Inline code
$code-bg: $gray-200 !default;
$code-color: $gray-900 !default;

// TOC
$toc-color: $orange;
$toc-font-size: 1em;

// Code copy
$btn-code-copy-color-active: $orange !default;


/*-- scss:rules --*/


.nav-footer {
    align-items: flex-start;  // Align all flex items to the top
    flex-wrap: wrap;
    border: 0 !important;
    min-height: 3em;
    //font-family: $footer-font-family;

    a {
        color: $primary;
    }

    .faux-block {
        display: block;
        padding-bottom: 0.4em;
    }

    // In the default Quarto template, .nav-footer-center has position: absolute 
    // turned on, which makes the div not be a flex item
    // This changes that so that it *is* a flex item
    .nav-footer-center {
        text-align: center;
        position: inherit;
        margin-top: 0;

        @media (max-width: map-get($grid-breakpoints, md)) {
            margin-top: 0.5em;
            margin-bottom: 1.5em;
        }
    }

    // When the screen is medium or smaller, make each footer chunk be 100% width 
    // and centered; otherwise make them be 33% width and left/right/centerd
    .nav-footer-left,
    .nav-footer-right,
    .nav-footer-center {
        text-align: center;
        width: 100%;
        min-height: 2em;
    }

    @media (min-width: map-get($grid-breakpoints, md)) {
        .nav-footer-left {
            text-align: left;
        }

        .nav-footer-right {
            text-align: right;
        }

        .nav-footer-left,
        .nav-footer-right,
        .nav-footer-center {
            flex: 1 1 33%;
        }
    }
}


.hero-sec{
  width: 100%;
  align-items: flex-start;
  background-image: linear-gradient(15deg, $lightteal 0%, $offwhite 150%);
  display: flex;
  min-height: 100%;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}


.button-52 {
  font-size: 16px;
  font-weight: 200;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-52:after {
  content: "";
  background-color: #c8f292;
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 0px;
  left: 0px;
  transition: 0.2s;
}

.button-52:hover:after {
  background-color: #1C5F6B;
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .button-52 {
    padding: 13px 50px 13px;
  }
}

.imgstyle {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  --color: #97B33E; /* the border color */
  --border: 10px;   /* the border thickness*/
  --offset: 20px;   /* control the offset*/
  --gap: 5px;       /* the gap on hover */
  
  --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
  --_o: calc(3*var(--offset));
  padding: 
    calc(var(--gap) + var(--border))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border) + var(--offset))
    calc(var(--gap) + var(--border));
  background: 
    linear-gradient(      var(--_c)) var(--_o) var(--_o), 
    linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
  background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
  background-repeat: no-repeat;
  cursor: pointer;
}

.bodyimgstyle {
  display: grid;
  gap: 40px;
  margin: 0;
  grid-auto-flow: column;
}


.container {
  position: relative;
  width: 100%;
}



.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
  opacity: 0.2;
}

.container:hover .middle {
  opacity: 1;
}



body {
  background: linear-gradient(to right, #F7FCFD, #C1E8F0);
}



.button-linkedin {
  background: linear-gradient(to bottom right, #0B648E, #5AC2F2);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5em;
  max-width: 100%;
  word-wrap: break-word;
}

.button-linkedin:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #71CAF4, .125rem .125rem 1rem #A1DCF7;
}

.button-linkedin:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #71CAF4, .125rem .125rem 1rem #A1DCF7;
}


.button-github {
  background: linear-gradient(to bottom right, #333, #6e5494);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 100%;
  word-wrap: break-word;
  margin: 0.5em;
}

.button-github:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #A18DBF, .125rem .125rem 1rem #AE9DC8;
}

.button-github:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #A18DBF, .125rem .125rem 1rem #AE9DC8;
}

.button-mail {
  background: linear-gradient(to bottom right, $teal, $gray-600);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 100%;
  word-wrap: break-word;
  margin: 0.5em;
}

.button-mail:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem $gray-500, .125rem .125rem 1rem $gray-500;
}

.button-mail:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem $gray-500, .125rem .125rem 1rem $gray-500;
}


.button-page {
  background: linear-gradient(to bottom right, #19a085, #22ddb7);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 100%;
  word-wrap: break-word;
  margin: 0.5em;
}


.button-page:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #22ddb7, .125rem .125rem 1rem #7bead4;
}

.button-page:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #22ddb7, .125rem .125rem 1rem #7bead4;
}


.button-x {
  background: linear-gradient(to bottom right, #333, #0686d3);
  border: 0;
  border-radius: 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 2.5;
  outline: transparent;
  padding: 0 1rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  max-width: 100%;
  word-wrap: break-word;
  margin: 0.5em;
}

.button-x:not([disabled]):focus {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #0686d3, .125rem .125rem 1rem #6bc3fa;
}

.button-x:not([disabled]):hover {
  box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem #0686d3, .125rem .125rem 1rem #6bc3fa;
}



.vertical-line { 
  width: 0px; 
  border-right: 1px solid #DFE3E7; 
  height: 30em; 
  float: right;
  margin: auto;
} 

/* mouse over link */
a:hover {
  color: white;
}

/* selected link */
a:active {
  color: white;
} 

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

.content-person {
  justify-content: space-between;
  max-width: 500px;
  margin: auto;
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: text-align;
}



.img-round {
  border-radius: 50%;
  padding: 0px;
  width: 60%;
  height: auto;
  max-width: 60vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
